{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block body %}
<title>Account</title>
<div id="txns">
  <div class="text-center">
    <p class="h1" contenteditable="true">{{ account.name }}</p>
    <p class="h3" contenteditable="true">{{ '${:,.2f}'.format(account.balance) }}</p>
    <p class="h5" contenteditable="true">{{ account.type }}</p>
    <span id="progress" style="display:none"></span>
  </div>
  <a class="badge badge-custom link" onclick="toggleDiv('txnCreateForm')">+ New Transaction</a>
  <div id="txnCreateForm" class="pt-2" style="display:none">{{ macros.txn_create_form(account) }}</div>
  <div class="row">
    {% for i in account.txns %}
    {{ macros.txn_card(i) }}
    {% endfor %}
  </div>
</div>
{% endblock %}