{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block body %}
<title>Account</title>
<div>
  <div class="text-center mb-3">
    <div>
      <p class="h1">{{ account_.name }}</p>
      <p class="h3">{{ '${:,.2f}'.format(account_.balance) }}</p>
      <p class="h5">{{ account_.type }}</p>
      <span id="progress" style="display:none"></span>
    </div>
    <a class="btn btn-sm btn-outline-secondary" onclick="toggleDiv('accountUpdateForm')"><i class="bi bi-pen"></i> Edit</a>
  </div>
  <div id="accountUpdateForm" style="display:none" class="my-3">{{ macros.account_update_form(account_) }}</div>
  <a class="btn btn-sm btn-outline-success" onclick="toggleDiv('txnCreateForm')">+ New Transaction</a>
  <div id="txnCreateForm" class="mt-3" style="display:none">{{ macros.txn_create_form(account_) }}</div>
  <div class="list-group mt-3">
    {% for i in account_.get_txns() %}
    {{ macros.txn_card(i) }}
    {% endfor %}
  </div>
</div>
{% endblock %}