<!--suppress ALL-->
{% macro account_card(account) %}
<div class="card col-xl-4 border-0">
  <div class="card-body border-custom mb-4">
      {% if not account.hidden %}
      <a class="text-center" href="{{ url_for('account', id_=account.id) }}">
          <span class="d-block h2">{{ '${:,.2f}'.format(account.balance) }}</span>
          <span class="d-block h4">{{ account.name }}</span>
      </a>
      <span class="small d-block fw-bold">{{ account.type }}</span>
      <span class="small d-block fst-italic">{{ 'Added %s' % account.date_added.strftime('%B %d, %Y') }}</span>
      <a class="text-danger" onclick="toggleDiv('delete' + {{ account.id }})"><i class="bi bi-trash3"></i></a>
      <a style="display:none" class="font-custom text-danger" onclick="accountDelete({{ account.id }})" id="delete{{ account.id }}">Delete?</a>

      <a class="ms-2" href="{{ url_for('account_toggle', id_=account.id) }}"><i class="bi bi-eye"></i></a>
      {% else %}
      <div class="h-100 w-100 d-flex opacity-25">
          <a style="font-size: 3em" class="mx-auto align-self-center" href="{{ url_for('account_toggle', id_=account.id) }}">
              - <i class="bi bi-eye"></i> -
          </a>
      </div>
      {% endif %}
  </div>
</div>
{% endmacro %}

{% macro txn_card(txn) %}
<div class="row">
  <span class="col text-{% if txn.amount > 0.00 %}success{% else %}danger{% endif %} fw-bold">{{ '${:,.2f}'.format(txn.amount) }}</span>
  <span class="col d-none d-md-inline text-truncate fst-italic">{{ txn.recipient }}</span>
  <span class="col d-none d-md-inline text-truncate fw-bold">{{ txn.accounts.name }}</span>
  <span class="col text-truncate small">{{ txn.timestamp.strftime('%-m-%-d-%y %I:%M %p') }}</span>
  <span class="col d-none d-md-inline text-truncate">
      <div class="float-end">
          <a style="display:none" class="font-custom text-danger" onclick="txnDelete({{ txn.id }})" id="delete{{ txn.id }}">Delete?</a>
          <a class="text-danger" onclick="toggleDiv('delete' + {{ txn.id }})"><i class="bi bi-trash3"></i></a>
      </div>
  </span>
</div>
{% endmacro %}

<!--FORMS-->

{% macro account_create_form() %}
<form onsubmit="event.preventDefault(); accountCreate(); this.reset();" class="input-group">
  <input placeholder="Account Name" id="name" class="input-custom" autocomplete="off">
  <input placeholder="Balance" id="balance" value="0.00" class="input-custom" autocomplete="off" type="number" step="0.01">
  <select id="type_" class="input-custom">
    <option>Account Type</option>
    <option value="Checking">Checking</option>
    <option value="Saving">Saving</option>
    <option value="Credit">Credit</option>
    <option value="Other">Other</option>
  </select>
  <button class="btn btn-custom"><i class="bi bi-plus-lg"></i></button>
</form>
{% endmacro %}

{% macro account_update_form(account) %}
{% set account_types = ['Checking', 'Saving', 'Credit', 'Other'] %}
<form onsubmit="event.preventDefault(); accountUpdate({{ account.id }});" class="input-group">
  <input placeholder="Account Name" id="name" class="input-custom" autocomplete="off" value="{{ account.name }}" onchange="accountUpdate({{ account.id }})">
  <input placeholder="Balance" id="balance" value="{{ account.balance }}" class="input-custom" autocomplete="off" type="number" step="0.01" onchange="accountUpdate({{ account.id }})">
  <select id="type_" class="input-custom" onchange="accountUpdate({{ account.id }})">
    <option>Account Type</option>
    {% for i in account_types %}
    <option value="{{ i }}" {% if i== account.type %}selected{% endif %}>{{ i }}</option>
    {% endfor %}
  </select>
  <button class="btn btn-custom"><i class="bi bi-pencil-square"></i></button>
</form>
{% endmacro %}

{% macro txn_create_form(account) %}
<form onsubmit="event.preventDefault(); txnCreate({{ account.id }}); this.reset();" class="input-group">
  <div class="btn-group">
    <input type="radio" name="txn_type" value="+" class="btn-check" id="plus">
    <label for="plus" class="btn btn-outline-success">+</label>
    <input type="radio" name="txn_type" value="-" checked class="btn-check" id="minus">
    <label for="minus" class="btn btn-outline-danger">-</label>
  </div>
  <input placeholder="Amount" id="amount" min="0.00" value="0.00" class="input-custom" autocomplete="off" type="number" step="0.01">
  <input placeholder="Recipient" id="recipient" class="input-custom" autocomplete="off">
  <input placeholder="Description" id="description" class="input-custom" autocomplete="off">
  <input type="datetime-local" id="timestamp" class="input-custom" autocomplete="off">
  <button class="btn btn-custom"><i class="bi bi-plus-lg"></i></button>
</form>
{% endmacro %}

{% macro login_form() %}
<form method="POST" action="{{ url_for('login') }}">
  <input name="email" class="input-custom mb-2 w-100" autocomplete="off" placeholder="E-mail">
  <input type="password" name="password" class="input-custom mb-2 w-100" autocomplete="off" placeholder="Password">
  <button class="btn btn-custom w-100">Log In</button>
</form>
{% endmacro %}

{% macro signup_form() %}
<form method="POST" action="{{ url_for('signup') }}">
  <input name="first_name" class="input-custom mb-2 w-100" autocomplete="off" placeholder="First Name">
  <input name="last_name" class="input-custom mb-2 w-100" autocomplete="off" placeholder="Last Name">
  <input name="email" class="input-custom mb-2 w-100" autocomplete="off" placeholder="E-mail">
  <input type="date" name="dob" class="input-custom mb-2 w-100" autocomplete="off" placeholder="Date Of Birth">
  <input type="password" name="password" class="input-custom mb-2 w-100" autocomplete="off" placeholder="Password">
  <button class="btn btn-custom w-100">Sign Up</button>
</form>
{% endmacro %}