@import "./colors.css";

body {
  background-color: var(--primary-bg);
  color: var(--primary-txt);
}

.btn {
  background-color: transparent;
  color: var(--btn-color);
  border-color: var(--btn-color);
  letter-spacing: 2px;
}

.btn.active,
.btn:hover {
  background-color: var(--btn-color);
  color: var(--btn-hover-txt);
}

.form-control,
.form-control:focus {
  background-color: transparent;
  border-color: var(--secondary-bg);
  color: var(--primary-txt);
}

::placeholder {
  color: var(--primary-txt) !important;
  opacity: 50% !important;
  letter-spacing: 1.5px !important;
}

.txn-item .form-control {
  border: 0;
  border-left: 1px solid var(--secondary-bg);
  border-radius: 0;
}

.body {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.inner {
  height: 95%;
  width: 75%;
  margin: auto;
}

.nav-custom {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid var(--secondary-bg);
  display: flex;
}

.nav-custom > div {
  margin-top: auto;
  margin-bottom: auto;
}

.between {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.col-50 {
  width: 50%;
  height: 100%;
}

.col-67 {
  width: 66.7%;
  height: 100%;
}

.col-33 {
  width: 33.3%;
  height: 100%;
}

.divider {
  border: 1px solid var(--secondary-bg);
  margin: 0px 15px;
}

.txn-item {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  margin-bottom: 5px;
  border-bottom: 1px solid var(--secondary-bg);
  /* cursor: pointer; */
}

.account-item {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  margin-bottom: 5px;
  /* border-bottom: 1px solid var(--secondary-bg); */
  cursor: pointer;
}

.account-item.active {
  background-color: var(--btn-color);
  color: var(--btn-hover-txt);
  border-radius: 5px;
}

.nav-custom .btn {
  margin: 0px 1px;
}

.txn-scroll {
  height: 55vh;
  overflow-y: auto;
  border-bottom: 0.5px solid var(--btn-color);
}

.txn-form {
  display: flex;
}

::-webkit-scrollbar {
  background-color: var(--primary-bg);
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--btn-color);
  cursor: pointer;
}

.red {
  color: var(--red);
}

.btn.red {
  border-color: var(--red);
  color: var(--red);
}

.btn.red.active,
.btn.red:hover {
  background-color: var(--red);
  color: var(--btn-hover-txt);
}

.green {
  color: var(--green);
}

.btn.green {
  border-color: var(--green);
  color: var(--green);
}

.btn.green.active,
.btn.green:hover {
  background-color: var(--green);
  color: var(--btn-hover-txt);
}

.dropdown-menu {
  background-color: var(--primary-bg);
  color: var(--primary-txt);
  border-color: var(--btn-color);
}

.dropdown-item {
  background-color: var(--primary-bg);
  color: var(--primary-txt);
  cursor: pointer;
  font-size: small;
}

.dropdown-item.active,
.dropdown-item:hover {
  background-color: var(--btn-color);
  color: var(--btn-hover-txt);
}

.txn-form .form-control,
.txn-form .btn {
  margin: 1px;
}

@media screen and (max-width: 1050px) {
  .inner {
    width: 90%;
  }

  .nav-custom .btn > span {
    display: none;
  }

  .nav-custom .btn {
    font-size: 1.5rem;
    padding-left: 15px;
    padding-right: 15px;
  }

  .flex {
    flex-direction: column;
  }

  .col-50 {
    width: 100%;
    height: 50%;
  }

  .col-33 {
    width: 100%;
    height: 33.3%;
  }

  .col-67 {
    width: 100%;
    height: 66.7%;
  }

  .divider {
    margin: 15px 0px;
  }

  .txn-scroll {
    height: 17vh;
  }

  .txn-form {
    flex-direction: column;
  }

  .txn-form .form-control,
  .txn-form .btn {
    width: 100%;
    margin-bottom: 10px;
  }

  .txn-form .btn.red,
  .txn-form .btn.green {
    width: 10%;
  }

  .hide-on-mobile {
    display: none !important;
  }
}
