@import "./colors.css";

* {
  font-family: "Roboto";
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-txt);
}

.btn {
  background-color: transparent;
  color: var(--btn-color);
  border-color: var(--btn-color);
  letter-spacing: 2px;
}

.btn.active,
.btn:hover {
  background-color: var(--btn-color);
  color: var(--btn-hover-txt);
}

.form-control,
.form-control:focus {
  background-color: transparent;
  border-color: var(--secondary-color);
  color: var(--primary-txt);
}

::placeholder {
  color: var(--primary-txt) !important;
  opacity: 50% !important;
  letter-spacing: 1.5px !important;
}

.txn-item .form-control {
  border: 0;
  border-left: 1px solid var(--secondary-color);
  border-radius: 0;
}

.body {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.subtle-input {
  background-color: transparent;
  border: 0;
  color: var(--primary-txt);
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
}

.subtle-input-lg {
  background-color: transparent;
  border: 0;
  color: var(--primary-txt);
  font-size: 3rem;
  text-align: center;
  width: 100%;
}

.spinner-border {
  color: var(--btn-color);
}

.inner {
  height: 95%;
  width: 75%;
  margin: auto;
}

.nav-custom {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid var(--secondary-color);
  display: flex;
}

.nav-custom > div {
  margin-top: auto;
  margin-bottom: auto;
}

.between {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.col-50 {
  width: 50%;
  height: 100%;
}

.col-67 {
  width: 66.7%;
  height: 100%;
}

.col-33 {
  width: 33.3%;
  height: 100%;
}

.divider {
  border: 1px solid var(--secondary-color);
  margin: 0px 15px;
}

.txn-item {
  display: flex;
  border-bottom: 0.5px solid var(--secondary-color);
  cursor: pointer;
  border-radius: 5px;
  /* border: 0.5px solid; */
  padding: 2px 10px;
  margin-bottom: 5px;
}

.txn-item.active {
  background-color: var(--btn-color);
  color: var(--btn-hover-txt);
}

.txn-item.active .red,
.txn-item.active .green {
  color: var(--btn-hover-txt);
}

.account-item {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  margin-bottom: 5px;
  /* border-bottom: 1px solid var(--secondary-color); */
  cursor: pointer;
}

.account-item.active {
  background-color: var(--btn-color);
  color: var(--btn-hover-txt);
  border-radius: 5px;
}

.nav-custom .btn {
  margin: 0px 1px;
}

.txn-scroll {
  height: 45vh;
  overflow-y: auto;
  border-bottom: 0.5px solid var(--btn-color);
}

.bills-scroll {
  height: 56vh;
  overflow-y: auto;
  border-bottom: 0.5px solid var(--btn-color);
}

.txn-form {
  display: flex;
}

::-webkit-scrollbar {
  background-color: var(--primary-bg);
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--btn-color);
  cursor: pointer;
}

.red {
  color: var(--red);
}

.btn.red {
  border-color: var(--red);
  color: var(--red);
}

.btn.red.active,
.btn.red:hover {
  background-color: var(--red);
  color: var(--btn-hover-txt);
}

.green {
  color: var(--green);
}

.btn.green {
  border-color: var(--green);
  color: var(--green);
}

.btn.green.active,
.btn.green:hover {
  background-color: var(--green);
  color: var(--btn-hover-txt);
}

.dropdown-menu {
  background-color: var(--primary-bg);
  color: var(--primary-txt);
  border-color: var(--btn-color);
}

.dropdown-item {
  background-color: var(--primary-bg);
  color: var(--primary-txt);
  cursor: pointer;
  font-size: small;
}

.dropdown-item.active,
.dropdown-item:hover {
  background-color: var(--btn-color);
  color: var(--btn-hover-txt);
}

.txn-form .form-control,
.txn-form .btn {
  margin: 1px;
  font-size: 1.1rem;
}

.month {
  width: 191px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.weekday {
  width: 26px;
  text-align: center;
  font-size: 0.65rem;
}

.day {
  width: 20px;
  height: 20px;
  background-color: var(--secondary-color);
  margin: 2px;
  border-radius: 5px;
  cursor: pointer;
}

.selected-day {
  border: 2px solid blue;
}

.hovered-day {
  border: 2px solid red;
}

.today {
  border: 2px solid var(--primary-txt);
}

.filler {
  cursor: unset;
  background-color: var(--primary-bg);
}

.filled {
  background-color: var(--btn-color);
  color: var(--btn-hover-txt);
}

.show-on-mobile {
  display: none;
}

::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.w-95 {
  width: 95%;
}

.orange {
  color: var(--orange);
}

.purple {
  color: var(--purple);
}

.budget-scroll {
  height: 39vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.progress-bar-custom {
  width: 100%;
  display: flex;
}

.progress-div {
  margin: 1px;
  border-radius: 5px;
  cursor: pointer;
  color: var(--btn-hover-txt);
}

.progress-div:hover {
  border: 0.5px solid var(--orange);
  padding: 0px;
  margin: 0px;
}

.budget-item {
  padding: 0px 10px;
  border-radius: 5px;
  margin-bottom: 3px;
}

.budget-item.active {
  background-color: var(--btn-color);
  color: var(--btn-hover-txt);
}

.budget-item.active .btn {
  color: var(--btn-hover-txt);
}

@media screen and (max-width: 1050px) {
  .budget-scroll {
    height: 35vh;
  }

  .inner {
    width: 95%;
  }

  .btn.abbreviate > span {
    display: none;
  }

  .nav-custom .btn > span {
    display: none;
  }

  .nav-custom .btn,
  .txn-menu .btn {
    font-size: 1.1rem;
    padding-left: 10px;
    padding-right: 10px;
  }

  .flex {
    flex-direction: column;
  }

  .col-50 {
    width: 100%;
    height: 50%;
  }

  .col-33 {
    width: 100%;
    height: 33.3%;
  }

  .col-67 {
    width: 100%;
    height: 66.7%;
  }

  .divider {
    margin: 15px 0px;
  }

  .txn-scroll {
    height: 41vh;
  }

  .bills-scroll {
    height: 17vh;
  }

  /* .txn-form {
    flex-direction: column;
  }

  .txn-form .form-control,
  .txn-form .btn {
    width: 100%;
    margin-bottom: 10px;
  }

  .txn-form .btn.red,
  .txn-form .btn.green {
    width: 10%;
  } */

  .hide-on-mobile {
    display: none !important;
  }

  .show-on-mobile {
    display: unset;
  }

  .progress-bar-custom {
    flex-direction: column;
  }

  .dropdown-item {
    font-size: 1.1rem;
  }
}
